.slt__opts {
  .slt__opt {
    align-items: flex-start;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    min-height: 44px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 10px;
    width: 100%;
    text-align: left;
    border: 0;

    &:hover {
      background-color: #f6f7f8;
    }

    .slt__opt__txt {
      align-items: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      overflow: hidden;

      & > div {
        font-size: 15px;
        word-wrap: break-word;
      }
    }

    .cb {
      margin-left: 0;
      margin-right: 12px;
      order: -1;
    }
  }
}
