.slt__opts {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eaecee;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.2);
  cursor: default;
  height: auto;
  margin: 0 -16px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 57px;
  transition: opacity 0.2s ease-out;
  width: calc(100% + 2px);
  z-index: -1;

  .slt__opt {
    align-items: flex-start;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    min-height: 44px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 10px;
    width: 100%;
    text-align: left;
    border: 0;

    &:hover {
      background-color: #f6f7f8;
    }

    .slt__opt__txt {
      align-items: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      overflow: hidden;

      & > div {
        font-size: 15px;
        word-wrap: break-word;
      }
    }

    .cb {
      margin-left: 0;
      margin-right: 12px;
      order: -1;
    }
  }
}
