.ctrl__cntr {
  &.slt {
    cursor: pointer;
  }

  .slt__value {
    line-height: 0;
    outline: 0;
    padding: 22px 0 9px;
    position: relative;
    text-overflow: ellipsis;
    transition: opacity 0.25s ease;
    white-space: nowrap;
    width: 100%;
    will-change: opacity;
    word-wrap: break-word;
  }

  &:focus-within {
    .arrow {
      transform: rotate(180deg);
    }

    .slt__opts {
      height: auto;
      opacity: 1 !important;
      z-index: 100;
    }
  }
}
