.close {
  color: inherit;
  display: inline-block;
  height: 24px;
  position: relative;
  transform: none;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease;
  width: 24px;
}
