.sldr {
  padding-top: 16px;
  padding-bottom: 16px;

  & > div {
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    min-width: 680px;
    max-width: 680px;

    & > div {
      max-width: 680px;

      & > div {
        position: relative;
        margin-top: -16px;
        margin-bottom: -16px;
        padding-bottom: 32px;
      }
    }
  }

  .sldr__wrp {
    position: relative;

    & > div {
      position: relative;
      width: 100%;

      & > div {
        padding: 0px;
        overflow: hidden;
        height: auto;

        & > ul {
          align-items: stretch;
          margin-right: -40px;
          transition: transform 400ms ease 0s;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin: 0;
          padding: 0;
          width: auto !important;
          list-style: none;
        }
      }
    }

    button {
      right: -48px;
    }

    button:first-child {
      left: -48px;
      right: 0;
    }

    ul {
      position: absolute;
      bottom: -16px;
      width: 100%;
      height: 8px;
      line-height: 8px;
      text-align: center;
      list-style: none;
    }

    .sldr__wrp__dot {
      margin: 0 4px;
      display: inline-block;
      width: 8px;
      height: 8px;
      list-style: none;
      background: #dddfe0;
      border-radius: 50%;

      &.active {
        background: #ffdd2d;
      }
    }

    .sldr__wrp__arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      padding: 0;
      width: 32px;
      height: 32px;
      opacity: 0.7;
      border: 0;
      border-radius: 50%;
      outline: none;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-property: opacity, box-shadow;
      transform: translateY(-50%);
      cursor: pointer;

      &.hidden {
        visibility: hidden;
        opacity: 0.5;
        cursor: auto;
      }
    }

    .sldr__wrp__slide {
      min-width: 100%;
      padding-right: 40px;
      opacity: 0;
      transition: opacity 1s ease 0s;

      &.active {
        opacity: 1;
      }

      & > div {
        position: relative;
        padding: 16px 0;
        display: flex;
        box-sizing: border-box;
        height: 100%;
        outline: none;

        & > div {
          position: relative;
          display: block;
          overflow: hidden;
          box-sizing: border-box;
          width: 100%;
          color: #333;
          background: #fff;
          border: 1px solid #e6e6e6;
          height: 100%;

          & > div {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;

            & > section {
              padding: 32px;
              box-sizing: border-box;
              height: 100%;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
